<div class="container">
    <footer class="footer">
        <div class="layout"></div>
        <p>&copy;2020 laji-collect. All Rights Reserved  <a href="http://cj.lycecho.com/">采集爬虫软件</a> 辣鸡采集，采集世界上所有辣鸡数据 欢迎大家来采集

        </p>

    </footer>
</div>
</body>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?6867f5df1c7bf7100c43b1438578d12f";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
